/* GLOBAL ******************************************************************* */

html, body, canvas, #ui {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000;
}

canvas {
    position: absolute;
    z-index: 0;
}

.hidden {
    display: none !important;
}

/* UI GENERAL RULES ********************************************************* */
#ui {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;

    --border:           1px solid rgba(255 255 255 / 0.4);
    --border-focus:     1px solid rgba(255 255 255 / 1.0);
    --color-input-bg:   rgba(0 0 0 / 0.5);
    --color-hover:      rgba(255 255 255 / 0.3);

    * {
        font-family: 'Menlo', monospace;
    }

    label, section, li, input {
        font-weight: bold;
        color: #fff;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    label {
        margin: 0 0 10px 0;
    }

    label.collapsible {
        -webkit-user-select: none;
        user-select: none;
        cursor: ns-resize;
        display: block;
    }
    label.collapsible:hover {
        background-color: var(--color-hover);
    }

    input[type="text"],
    input[type="number"],
    .ace_editor {
        border: var(--border);
        background-color: var(--color-input-bg);
        padding: 3px 5px;
    }
    input[type="text"]:focus,
    input[type="number"]:focus,
    .ace_focus {
        border: var(--border-focus);
        outline: none;
    }

    input[type="button"],
    input[type="submit"] {
        padding: 4px 6px;
        color: #000;
    }

/* PASS / LAYOUT / MESHES *************************************************** */
    ul#passes {
        width: fit-content;
        min-width: 780px;

        > li > section {
            margin: 0 0 30px 30px;
        }

        section.layout {
            margin: 0 0 0 30px;

            ul > li {
                white-space: pre;
            }
        }

        ul.meshes > li {
            margin: 0 0 30px 30px;

            section {
                margin: 0 0 30px 30px;

                ul.attribs::after {
                   content: " ";
                   display: block;
                   height: 0;
                   clear: both;
                }

                ul.attribs > li {
                    width: 300px;
                    float: left;
                }
            }
        }
    }

/* SHADER ******************************************************************* */
    ul#program > li {
        width: fit-content;
        min-width: 780px;

        > pre {
            margin: 0 0 30px 0;
        }
    }

/* ACE EDITOR *************************************************************** */
    .ace-error {
        background-color: #800;
        position: absolute;
    }
}


/*
#ui {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;
    width: 100%;

    --border:       1px solid rgba(255 255 255 / 0.4);
    --border-focus: 1px solid rgba(255 255 255 / 0.8);
    --color-bg:     rgba(0 0 0 / 0.5);
    --color-hover:  rgba(255 255 255 / 0.3);
}

#ui > section {
    width: fit-content;
    min-width: 780px;
}

#ui label {
    font-family: 'Menlo', monospace;
    font-weight: bold;
    color: #fff;
    margin: 10px 0 0 0;
    display: inline-block;
}

#ui > section > label {
    font-size: 15px;
    padding: 0;
    margin: 15px 0 0 0;
    display: block;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    cursor: ns-resize;
}

#ui > section > label:hover {
    background-color: var(--color-hover);
}

#vertEditor,
#fragEditor {
    margin: 0;
    position: relative;
    width: 780px;
    border: var(--border);
    background-color: var(--color-bg);
}
#vertEditor.ace_focus,
#fragEditor.ace_focus {
    border: var(--border-focus);
}

#vertDataContainer > label {
    font-size: 13px;
}

#attribs li {
    font-family: 'Menlo', monospace;
    font-weight: bold;
    font-size: 13px;
    white-space: pre;
    color: #fff;
}

label[for="pass_vertCount"] {
    display: inline-block;
}
input#pass_vertCount {
    display: inline-block;
    border: var(--border);
    background-color: var(--color-bg);
    color: #fff;
    font-size: 13px;
    width: 60px;
    text-align: right;
}
input#pass_vertCount:focus {
    outline: none;
    border: var(--border-focus);
}

label[for="attribData"] {
    display: block !important;
}

#attribData::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.attrib {
    font-family: 'Menlo', monospace;
    font-size: 13px;
    color: #fff;
    width: 300px;
    float: left;
}

.attrib > pre {
    font-family: 'Menlo', monospace;
    font-size: 13px;
    color: #fff;
    border: var(--border);
    width: 100%;
    background-color: var(--color-bg);
    margin: 0;
}
.attrib > pre.ace_focus {
    border: var(--border-focus);
}

#vertDataContainer > form > label {
    font-size: 13px;
}

#vertDataContainer > form > input[type="text"] {
    border: var(--border);
    background-color: var(--color-bg);
    color: #fff;
    font-size: 13px;
}
#vertDataContainer > form > input[type="text"]:focus {
    border: var(--border-focus);
    outline: none;
}
*/
